<mat-card>
  <h4>Please fill in loan details:</h4>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(newLoanForm)" #newLoanForm="ngForm" *ngIf="!isLoading">

    <currency-dropdown #ccy></currency-dropdown>
    <br>

    <mat-form-field>
      <input
        matInput
        type="number"
        name="amount"
        min="0"
        [ngModel]="newLoan?.amount"
        #amount="ngModel"
        required
        placeholder="Loan Amount">
      <!--<mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>-->
    </mat-form-field>
    <br>
    <div *ngIf="amount.errors?.['min']">
      <mat-error>
        Amount must be greater than €0.00
      </mat-error>
      <br>
    </div>

    <mat-form-field>
      <input
        matInput
        type="number"
        name="interestRate"
        [ngModel]="newLoan?.interestRate"
        #interestRate="ngModel"
        required
        placeholder="Interest Rate">
      <!--<mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>-->
    </mat-form-field>
    <br>

    <period-dropdown #period></period-dropdown>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Choose utilization date</mat-label>
      <input matInput [matDatepicker]="utilizationDate" required>
      <mat-datepicker-toggle matSuffix [for]="utilizationDate"></mat-datepicker-toggle>
      <mat-datepicker #utilizationDate></mat-datepicker>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Choose maturity date</mat-label>
      <input matInput [matDatepicker]="firstPaymentDate" required>
      <mat-datepicker-toggle matSuffix [for]="firstPaymentDate"></mat-datepicker-toggle>
      <mat-datepicker #firstPaymentDate></mat-datepicker>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Choose first installment date</mat-label>
      <input matInput [matDatepicker]="maturityDate">
      <mat-datepicker-toggle matSuffix [for]="maturityDate"></mat-datepicker-toggle>
      <mat-datepicker #maturityDate></mat-datepicker>
    </mat-form-field>
    <br>

    <button
      mat-raised-button
      color="accent"
      type="submit">Generate Payment Schedule
    </button>
  </form>
</mat-card>
