<mat-card>
  <h4>Please fill in loan details:</h4>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onGenerate(newLoanForm)" #newLoanForm="ngForm" *ngIf="!isLoading">

    <currency-dropdown (ccyChange)="ccyPrint($event)"></currency-dropdown>
    <br>

    <mat-form-field>
      <mat-label>Loan Amount</mat-label>
      <input
        matInput
        type="number"
        name="amount"
        min="500"
        [ngModel]="newLoan?.amount"
        #amount="ngModel"
        required
        placeholder="i.e: 5000.23">
    </mat-form-field>
    <br>
    <div *ngIf="amount.errors?.['min']">
      <mat-error>
        Amount must be greater than €500.00
      </mat-error>
      <br>
    </div>

    <mat-form-field>
      <mat-label>Interest Rate</mat-label>
      <input
        matInput
        type="number"
        name="interestRate"
        min="0"
        max="1"
        [ngModel]="newLoan?.interestRate"
        #interestRate="ngModel"
        required
        placeholder="i.e: 0.01">
      <!--<mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>-->
    </mat-form-field>
    <br>
    <div *ngIf="interestRate.errors?.['min']">
      <mat-error>
        Interest rate can not have a negative value.
      </mat-error>
      <br>
    </div>
    <div *ngIf="interestRate.errors?.['max']">
      <mat-error>
        Interest rate can not have more than %100. Please enter a value between 0.00 and 1.00.
      </mat-error>
      <br>
    </div>
    <period-dropdown (periodChange)="ccyPrint($event)"></period-dropdown>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Choose utilization date</mat-label>
      <input matInput [matDatepicker]="utilizationDate" required (dateChange)="addDate('utilizationDate',$event.value)" >
      <mat-datepicker-toggle matSuffix [for]="utilizationDate"></mat-datepicker-toggle>
      <mat-datepicker #utilizationDate></mat-datepicker>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Choose maturity date</mat-label>
      <input matInput [matDatepicker]="maturityDate" required (dateChange)="addDate('maturityDate',$event.value)">
      <mat-datepicker-toggle matSuffix [for]="maturityDate"></mat-datepicker-toggle>
      <mat-datepicker #maturityDate></mat-datepicker>
    </mat-form-field>
    <br>

    <mat-form-field appearance="fill">
      <mat-label>Choose first installment date</mat-label>
      <input matInput [matDatepicker]="firstPaymentDate" (dateChange)="addDate('firstPaymentDate',$event.value)">
      <mat-datepicker-toggle matSuffix [for]="firstPaymentDate"></mat-datepicker-toggle>
      <mat-datepicker #firstPaymentDate></mat-datepicker>
    </mat-form-field>
    <br>
    <div *ngIf="newLoan?.maturityDate < newLoan?.firstPaymentDate
      || newLoan?.maturityDate < newLoan?.utilizationDate
      || newLoan?.utilizationDate > newLoan?.firstPaymentDate">
      <mat-error>Please enter valid dates.</mat-error>
      <mat-error *ngIf="newLoan?.maturityDate < newLoan?.firstPaymentDate">First installment date cannot be older than maturity date.</mat-error>
      <mat-error *ngIf="newLoan?.maturityDate < newLoan?.utilizationDate">Utilization date cannot be older than maturity date.</mat-error>
      <mat-error *ngIf="newLoan?.utilizationDate > newLoan?.firstPaymentDate">First installment date cannot be earlier than utilization date.</mat-error>
      <br>
    </div>
    <button
      mat-raised-button
      color="accent"
      type="submit">Generate Payment Schedule
    </button>
  </form>
</mat-card>
