<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>{{header}}</mat-label>
    <input type="text"
           [placeholder]="header"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto"
           [ngModel]="searchText" (change)="searchTextChange($event)">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
